
@{
    ViewBag.Title = "VacancyAvailablity";
}

<div class="ibox">

    <div class="ibox-body">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" href="#pill-1-1" data-toggle="tab">View Vacancy Status</a>
            </li>

        </ul>
        <div class="tab-content">
            <div class="tab-pane show active" id="pill-1-1">

                <table class="table-hover dataTable table-striped table-responsive" id="vacAvaillist">
                    <thead>
                        <tr style="background-color:#3d566e; color:ThreeDFace">
                            <th>
                                Company 
                            </th>
                            <th>
                                City
                            </th>
                            <th>
                                Department 
                            </th>
                            <th>
                                Position
                            </th>
                            <th>
                               Seat Availablity Date
                            </th>


                        </tr>
                    </thead>
                </table>




            </div>



        </div>
    </div>
</div>

@section scripts{

    <script>
       $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });
    </script>
    <script type="text/javascript">
        var Popup, dataTable;
        $(function () {
            $('#vacAvaillist').DataTable({
                pageLength: 5,
                "ajax": {
                    "url": '/Requests/vacantAvailList',
                    "type": "get",
                    "datatype": "json"
                },
                "columns": [

                    { "data": "CompanyName", "authowidth": false },
                    { "data": "CityName", "authowidth": false },
                    { "data": "DepartmentName", "autowidth": false },
                    { "data": "Position", "autowidth": false },
                    {
                        "data": "SeatAvailablityDate", "render": function (mydata) {
                            var date = new Date(parseInt(mydata.substr(6)));
                            var month = date.getMonth() + 1;
                            return date.getDate() + "/" + month + "/" + date.getFullYear();
                        },
                    }
                   



                ]
            });

        });

       
    </script>



}