@model IEnumerable<amsdemo.Models.tblDepartment>

@{
    ViewBag.Title = "Department List";
}
@section header{}
<div class="ibox-head">
    <div class="ibox-title">List of Departments</div>
</div>
<div class="ibox-body">
    <div class="tablecontainer" style="margin-top:3%">
        <a href="/home/CreateDepartments" class="btn btn-info">Add New Department</a><br /><br />
        <table class="table-hover dataTable  table-striped table-responsive" id="table">
            <thead>
                <tr style="background-color:#3d566e; color:#ecf0f1">
                    <th>Department Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>DepartmentName</th>
                </tr>
            </tfoot>

        </table>

    </div>
   
   </div>

  

@section scripts{


    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });
    </script>
    <script type="text/javascript">
      var Popup, dataTable;
        $(function () {
         dataTable =  $('#table').DataTable({
              pageLength: 10,
              "ajax": {
                  "url": '/home/GetDepartment',
                  "type": "get",
                  "datatype": "json"
              },
              "columns": [

                  { "data": "DepartmentName", "authowidth": false },
                  {
                      "data": "DepartmentId", "render": function (data) {
                          return "<a class='btn btn-primary btn-sm' onclick=PopupForm('@Url.Action("Save","Home")/" + data +"')><i class='fa fa-pencil'></i> Edit</a>  <a class='btn btn-danger' style='margin - left: 5px' onclick=Delete('" + data +"')><i class='fa fa-trash'></i>Delete</a>"
                      },

                      "orderable": false,
                      "width": "150px"
                  }

              ]
          });

     });
       
        function PopupForm(url) {
            var formDiv = $('<div/>');
          $.get(url)
              .done(function (response) {
                  formDiv.html(response);
                  Popup = formDiv.dialog({
                      autoOpen: true,
                      resizable: false,
                      draggable: false,
                      height: 200,
                      width: 600,
                      close: function () {
                          Popup.dialog('destroy').remove();
                      }
                  });
              });
      }
        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            Popup.dialog('close');
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className : "success"

                            })
                        }
                    }


                });
            }
          return false;
        }
        function Delete(id) {
            if (confirm("Are you sure? You want to Delete Department.")) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete","Home")/' + id,
                    success: function (data) {
                        if (data.success) {
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"

                            })
                        }
                    }
                });
            }
        }
      
       
    </script>

}